# Ignore .env file to avoid committing sensitive information
.env

# Ignore ngrok config file
**/ngrok.yaml

# Ignore everything inside vault/ssl directory
**/vault/raft/*
**/vault/ssl/*
**/vault/vault.db
