version: 2
authtoken: <ngrok-auth-token>
region: <ngrok-region>
log_level: debug
tunnels:
  jenkins:
    proto: http
    addr: <server-ip-address>:8080
    domain: <wildcard-domain-name>
  vault:
    proto: http
    schemes: 
      - https
    addr: https://<server-ip-address>:8200
    domain: <wildcard-domain-name>
  sonar:
    proto: http
    addr: <server-ip-address>:9000
    domain: <wildcard-domain-name>